.steps__title {
  margin-bottom: 60px;

  @include vp-1023 {
    margin-bottom: 55px;
  }
}

.steps__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  counter-reset: list-counter;

  @include vp-767 {
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
}

.steps__item {
  position: relative;
  flex-basis: 200px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  counter-increment: list-counter;
  padding-right: 58px;

  @include vp-1439 {
    padding-right: 30px;
    max-width: 22%;
  }

  @include vp-1023 {
    font-size: 19px;
    line-height: 24px;
  }

  @include vp-767 {
    flex-direction: row;
    max-width: unset;
    flex-basis: 153px;
    padding-right: 0;
    padding-bottom: 15px;
  }

  &:last-child {
    flex-grow: 0;
    flex-shrink: 2;
    padding-right: 0;

    @include vp-767 {
      flex-basis: auto;
      padding-bottom: 0;
    }

    &::after {
      display: none;
    }
  }

  &::before {
    content: counter(list-counter);
    flex-shrink: 0;
    display: grid;
    place-items: center;
    width: 51px;
    height: 51px;
    background-color: $color-free-speech-blue;
    border-radius: 50%;
    font-weight: 700;
    line-height: 27px;
    color: $color-default-white;
    margin-bottom: 20px;
    z-index: 3;

    @include vp-767 {
      margin-bottom: 0;
      margin-right: 33px;
    }
  }

  &::after {
    position: absolute;
    content: " ";
    width: 100%;
    height: 2px;
    right: 0;
    top: calc(51px / 2);
    background-color: $color-free-speech-blue;

    @include vp-767 {
      width: 2px;
      height: 100%;
      left: calc(47px / 2);
      top: 0;
      right: unset;
    }
  }
}

.steps__item-content {
  margin: 0;
}

.steps__item-hidden {
  @include vp-767 {
    display: none;
  }
}

.steps__item-footnote {
  display: none;

  @include vp-767 {
    display: inline;
    font-weight: 600;
    color: $color-free-speech-blue;
  }
}

.steps__note {
  display: none;

  @include vp-767 {
    margin: 0;
    margin-top: 40px;
    display: flex;
    font-size: 18px;
    line-height: 23px;
    font-weight: 300;
    letter-spacing: 39%;

    &::before {
      content: "*";
      color: $color-free-speech-blue;
      font-weight: 600;
      margin-right: 5px;
    }
  }
}
