// Colors
// ---------------------------------

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;

$color-midnight-express:            #08113F;
$color-free-speech-blue:            #3052D8;
$color-solitude:                    #E1E8F8;

// Typography
// ---------------------------------

$ff-placeholder:                    "Proxima Nova", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// Viewports
// ---------------------------------

$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1440:                           1440px;
